body {
  background: rgba(0, 0, 0, 0.6);
  }

#mainContainer {
 margin: 10px;
 background: #E8E8E8;
 width: 50%;
}
button {
 height: 35px;
 width: 80px;
 background: #90EE90;
 border: 1px;
 border-style: solid;
 border-width: thin;
 margin-bottom: 10px;
}
.timer {
  color: red;
}
